@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Lato:wght@400;700&family=Abril+Fatface&family=Inter:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-optical-sizing: auto;
}

.cp {
    background-color: #807094;
    display: grid;
    width: 100%;
    justify-content: center;
    height: 100vh;
}

.cp_container {
    background-color: #807094;
    padding: 2rem;
    align-self: center;
}

.cp_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    height: auto;
}

.cp_header {
    width: 100%;
}

.cp_header h1 {
    font-weight: normal;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}



.cpc_container {
    padding-top: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.cp_card {
    background-color: transparent;
    border: 3px solid #604F71;
    padding: 30px 20px;
    border-radius: 30px;
    height: 390px; 
    width: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}



.cp_card img {
    margin-bottom: 2rem;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.cp_card p {
    color: #EF98A7;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

.cp_card p span {
    color: #ffff;
    font-size: 20px;
}

.cp_card:hover {
    background-color: #604F71;
    transform: translateY(0.5rem);
    transition: all 0.3s ease;
    box-shadow: 0 0 75px #EF98A7;
}

@media (max-width: 768px) {
    .cp_content {
        grid-template-columns: 1fr;
        height: auto;
        gap: 0;
    }

    .cpc_container {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    .cp_header h1 {
        font-size: 36px;
    }

    .cp_card {
        height: auto;
        width: 100%;
    }

    .cp_card img {
        height: 200px;
    }

    .cp_card p {
        font-size: 24px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .cp_content {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        gap: 0.5rem;
    }

    .cp_header h1 {
        font-size: 40px;
    }

    .cp_card {
        height: auto;
        width: 100%;
    }

    .cp_card img {
        height: 250px;
    }

    .cp_card p {
        font-size: 26px;
    }
}


@media (min-width: 992px) {
    .cp_content {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
    }

    .cp_header h1 {
        font-size: 50px;
    }

    .cp_card {
        height: 390px;
        width: 300px;
    }

    .cp_card img {
        height: 300px;
    }

    .cp_card p {
        font-size: 30px;
    }
}


@media (min-width: 1200px) {
    .cp_container {
        max-width: 1400px;
    }

    .cp_content {
        height: auto;
    }

    .cp_header h1 {
        font-size: 60px;
    }

    .cp_card {
        height: 400px;
        width: 360px;
    }

    .cp_card img {
        height: 320px;
    }

    .cp_card  {
        font-size: 28px;
    }
}