@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Lato:wght@400;700&family=Abril+Fatface&family=Inter:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.home {
    background-color: #604F71;
}

.home_container {
    color: #ffff;
    background-color: #604F71;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.home_content {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: rem; */
}

.home_content .hi {
    font-family: 'Lato', sans-serif;
    color: #F7BEA9;
    font-size: 32px;
    font-weight: bolder;
}

.home_content h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 32px;
    font-weight: bolder;
}

.home_content h3 span {
    font-family: 'Lato', sans-serif;
    color: #F7BEA9;
    font-size: 32px;
    font-weight: bolder;
    /* margin-bottom: .3rem; */
}


.home_content h1 {
    font-family: 'Abril Fatface', serif;
    color: #EF98A7;
    font-size: 80px;
    font-weight: normal;
}

.home_content h1 span {
    font-family: 'Abril Fatface', serif;
    color: #ffff;
}

.resume {
    font-family: 'Inter', sans-serif;
    margin-top: 3rem;
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid #F7BEA9;
    background: transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.resume:hover {
    font-family: 'Inter', sans-serif;
    background-color: #F7BEA9;
    color: #604F71;
    transition: all 0.3s ease;
    transform: translateY(0.5rem);
}

.image {
    padding-top: 7rem;
    display: grid;
    place-items: center;
}

.image img {
    width: min(30rem, 90%);
    border-radius: 100%;
    background-color: #F7BEA9;
    box-shadow: 0 0 75px #F7BEA9;
    transition: all 0.3s ease;
}

.image img:hover {
    box-shadow: 0 0 75px #F7BEA9;
    box-shadow: 0 0 100px #F7BEA9;
    width: min(35rem,  90%);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .home_container {
        width: 100%;
        padding: 3rem 1rem;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .image {
        grid-area: 1/1/2/2;
        max-width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .image img {
        max-width: 100%;
        width: auto;
        margin-top: 1rem;
    }

    .home_content .hi {
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-size: 38px;
    }
    
    .home_content h3 {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 26px;
        font-weight: bolder;
        line-height: 2rem;
        margin-top: 3rem;
    }
    
    .home_content h3 span {
        font-family: 'Lato', sans-serif;
        color: #F7BEA9;
        font-size: 30px;
        line-height: 2rem;
        font-weight: bolder;
        margin-bottom: .5rem;
    }
    
    
    .home_content h1 {
        font-family: 'Abril Fatface', serif;
        color: #EF98A7;
        font-size: 74px;
        font-weight: normal;
        line-height: 5.5rem;
    }
    
    .button {
        padding-top: 3rem;
    }

    .resume {
        margin: auto;
    }
}

@media (max-width: 320px) {
    .image {
        /* grid-area: 1/1/2/2; */
        padding-top: 1rem;
        max-width: 90%;
        height: auto;
        margin-top: 3rem;
    }

    .image img {
        width: auto;
        margin-top: 1rem;
    }

    .home_content {
        padding-top: none;
        padding-top: 1rem;
    }

    .home_content .hi {
        text-align: center;
        margin-top: 0rem;
        margin-bottom: 1rem;
        font-size: 30px;
    }
    
    
    .home_content h1 {
        text-align: center;
        font-size: 45px;
        font-weight: normal;
        line-height: 3.5rem;
    }
    
    .button {
        padding-top: 0rem;
    }

    .resume {
        margin: auto;
        padding-top: 2rem;
        padding: 0.5rem 1rem;
        font-size: 12px;
    }
}