@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Lato:wght@400;700&family=Abril+Fatface&family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
body {
    background-color: #604F71;    
    font-family: 'Sen', sans-serif;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #604F71;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin-right: auto;
    font-size: 25px;
    color: white;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
    font-weight: 700;
    cursor: default;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 200;
    margin-left: 60px;
}

.navbar a:hover {
    color: #F7BEA9;

}

button.b1 {
    font-family: 'Inter', sans-serif;
    padding: 10px 10px;
    background-color: #F7BEA9;
    margin-left: 60px;
    border: none;
    cursor: pointer;
    color: #3f2a44;
    width: auto;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

button.b1:hover {
    background-color: #EF98A7;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20% 0;
}

.home_content {
    position: relative;
    top: 0rem;
    max-width: 600px;
    align-content: center;
}

.home_content h3 {
    font-family: 'Lato', sans-serif;
    margin-left: -8rem;
    color: white;
    font-size: 32px;
    font-weight: bolder;
}

.home_content h3 span {
    font-family: 'Lato', sans-serif;
    color: #F7BEA9;
    font-size: 32px;
    font-weight: bolder;
}

.home_content h3:nth-of-type(2) {
    margin-bottom: 30px;
}


.home_content h1 {
    margin-left: -8rem;
    color: #EF98A7;
    font-size: 88px;
    font-weight: normal;
}



.home_photo img {
    position: relative;
    border-radius: 100%;
    top: -5rem;
    max-width: 405px;
    margin-right: -10rem;
    width: auto;
    height: auto;
    background-color: #F7BEA9;
    box-shadow: 0 0 65px #F7BEA9;
    border-radius: 50%;
}

.socmed a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #EF98A7;
    border-radius: 50%;
    font-size: 25px;
    color: #EF98A7  ;
    text-decoration: none;
    margin-left: 30px 15px 30px;
    transition: all 0.3s ease 0s;
    /* box-shadow: inset 0 0 10px #EF98A7; */
}

.socmed a:hover {
    background: #EF98A7;
    color: #604F71;
}

.resume_dl {
    margin-left: -8rem;
    display: inline-block;
    padding: 12px 28px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #F7BEA9;
    color: white;
    text-decoration: none;
    transition: 0.3 ease 0s;
}

.resume_dl:hover {
    background-color: #F7BEA9;
    color: #3f2a44;
}

.about {
    background-color: #604F71;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20% 0;
}

.about_content {
    position: absolute;
    justify-content: space-between;
    max-width: 600px;
    align-content: center;
}

.about_content h1 {
    color: white;
    font-family: 'Abril Fatface', serif;
    font-size: 32px;
}

.about_content h1 span {
    color: #EF98A7;
    font-family: 'Abril Fatface', serif;
    font-size: 32px;
}

.about_content p {
    font-family: 'Lato', sans-serif;
    font-size: 20;
    
}

.about_content img {
    position: relative;
    border-radius: 100%;
    top: -5rem;
    max-width: 405px;
    margin-right: -10rem;
    width: auto;
    height: auto;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #3f2a44;
}

::-webkit-scrollbar-track {
    background-color: #604F71;
    width: 50px;
}

h1 {
    font-family: 'Abril Fatface', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
}
