@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Lato:wght@400;700&family=Abril+Fatface&family=Inter:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-optical-sizing: auto;
}

.skills {
    background-color: #EF98A7;
    display: grid;
    width: 100%;
    justify-content: center;
}

.skills_container {
    background-color: #EF98A7;
    padding: 2rem;
    padding-top: 5rem;
    align-self: center;
    height: 100vh;

}

.skills_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.skills_header {
    width: 100%;
}

.skills_header h1 {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    text-align: left;
}

.sc_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills_card {
    background-color: transparent;
    border: 3px solid #604F71;
    padding: 30px 40px;
    border-radius: 30px;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skills_card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    max-width: 100%;
}

.skills_card .canva {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}

.skills_card:hover {
    background-color: #604F71;
    transform: translateY(0.5rem);
    transition: all 0.3s ease;
    box-shadow: 0 0 75px #604F71;
}

@media (max-width: 767px) {
    .skills {
        height: auto;
        padding-top: 3rem;
    }

    .skills_container {
        height: auto;
    }

    .skills_content {
        grid-template-columns: 1fr;
        height: auto;
        gap: 0;
    }

    .sc_container {
        padding-top: 1rem;
        padding-bottom: 0;
        height: auto;
    }

    .skills_header h1 {
        font-size: 36px;
    }

    .skills_card {
        height: auto;
        width: 100%;
    }

    .skills_card img {
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .skills {
        height: auto;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .skills_content {
        grid-template-columns: repeat(2, 1fr);
        height: auto;

    }

    .skills_container {
        padding: 0;
        padding-top: 0;
        height: auto;
    }

    .sc_container {
        height: auto;
    }

    .skills_header h1 {
        font-size: 40px;
    }

    .skills_card {
        height: auto;
        width: 100%;
    }

    .skills_card img {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .skills {
        height: auto;
        padding-top: 0;
    }

    .skills_content {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
    }

    .skills_container {
        height: auto;
    }

    .skills_header h1 {
        font-size: 50px;
    }

    .skills_card {
        height: auto;
        width: 100%;
    }

    .skills_card img {
        height: auto;
    }
}


@media (min-width: 1200px) {
    .body {
        background-color: #807094;
    }

    .skills {
        height: auto;
        padding-top: 0;
    }

    .skills_container {
        max-width: 1400px;
        height: auto;
    }

    .sc_container {
        height: auto;
        padding-bottom: 0.5rem;
    }

    .skills_content {
        height: auto;
        padding-top: 0;
    }

    .skills_header h1 {
        font-size: 60px;
    }

    .skills_card {
        height: 231px;
        width: 100%;
        padding: 10px 30px;
    }

    .skills_card img {
        height: 200px;
    }
}


@media (min-width: 1440px) {
    .body {
        background-color: #EF98A7;
    }

    .skills {
        height: 120vh;
        padding-bottom: 2rem;
    }
}

@media (min-width: 2000px) {
    .skills {
        height: 100vh;
    }
}

