@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Lato:wght@400;700&family=Abril+Fatface&family=Inter:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.work {
    background-color: #604F71;
    /* display: grid; */
}

.work_container {
    color: #ffff;
    background-color: #604F71;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* grid-template-columns: 1fr; */
}

.work_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    /* justify-items: center; */
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    height: 100vh;
}

.works_header {
    margin-top: 5rem;
    display: grid;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.works_header h1 {
    font-weight: normal;
    margin: 0;
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    text-align: center;
}

.works_header h1 span {
    color: #EF98A7;
    font-family: 'Abril Fatface', serif;
}

.card_container2 { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.card_container1, .card_container3 {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10px; */
}


.card {
    box-shadow: 0 3px 5px rgb(55, 45, 65);
    background-color: #807094;
    padding: 30px 20px;
    border-radius: 30px;
    height: 390px; 
    width: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.card img {
    margin-bottom: 2rem;
    width: 100%;
    height: 300px;
    /* object-fit: cover; */
    border-radius: 20px;
}

.card h2 {
    font-family: 'Lato', sans-serif;
    /* margin-bottom: 1rem; */
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.card .sm {
    padding: 0.7rem 1.5rem;
    background-color: #F7BEA9;
    text-decoration: none;
    font-weight: 600;
    color: #604F71;
    border-radius: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: transparent;
}

.card_content .sm:hover {
    background-color: #EF98A7;
    color: #ffff;    
    transform: translateY(0.5rem);
    transition: all 0.3s ease;
}

